$body-color: slateblue;

body,
html {
  color: $body-color;
  padding: 0;
  margin: 0;
  display: flex;
  font-family: sans-serif;
  height: 100%;
  width: 100%;
  background: lightcoral;
}

canvas {
  margin: auto;
}

#ui {
  position: absolute;
  width: 15vw;
  padding: 2em;
  background: rgba(33,33,33,.1);
  height: 100vh;
  color: white;

  .score::before {
    content: 'Total score:  ';
  }

  .log {
    overflow-y: auto;
    height: 60vh;
    display: block;
  }
  .log-row {
    img {
      width: 30px;
      height: 30px;
      display: inline-block;
    }
  }
}